<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Institute.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Institute.Properties.Settings.Institute_DBConnectionString"
            connectionString="Data Source=OMNYA\SQLEXPRESS;Initial Catalog=Institute_DB;Integrated Security=True" />
        <add name="Institute.Properties.Settings.Institute_DBConnectionString1"
            connectionString="Data Source=DESKTOP-88HASRR\SQLEXPRESS;Initial Catalog=Institute_DB;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Institute.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>DESKTOP-88HASRR\SAMAR</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Institute_DB</value>
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>SQL</value>
      </setting>
      <setting name="ID" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>admin12345</value>
      </setting>
    </Institute.Properties.Settings>
  </userSettings>
</configuration>
